@import "../helpers/variables";

.home-footer {
  position: relative;
  width: 100%;
  background: $grey;
  min-height: 100px;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .social-links {
    list-style-type: none;
    display: flex;

    .link-icon {
      font-size: 2rem;
      color: $black;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;

      &:hover {
        transform: translateY(-10px);
      }

      img {
        width: 50px;
      }
    }
  }

  .footer-menu {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

    .footer-link {
      font-size: 1.2rem;
      color: $black;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;
      font-weight: 300;

      &:hover {
        opacity: 1;
      }
    }
  }

  p {
    color: $black;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }
}

@media (max-width: $sm){
  .footer-menu{
    flex-direction: column;
  }
}